.recipes-top {
  background: #f5f3e7;
  padding: 60px 20px 40px;
  margin-bottom: 40px;
}
.recipes-hero {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  h2 {
    color: #666;
    margin-bottom: 40px;
  }
}
.filters {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
   margin-bottom: 50px;
}

.select-wrapper {
  position: relative;
  width: 260px;

  select {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #f5f3e7;
    padding: 14px 40px 14px 22px;
    border-radius: 50px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    color: #555;
    transition: all 0.3s ease;

    &:hover {
      background-color: #eaeadf;
    }

    &:focus {
      border-color: #979b4d;
      background-color: #fff;
    }
  }

  svg {
    position: absolute;
    right: 18px;   // icon məsafəsi
    top: 50%;
    width: 16px;
    height: 16px;
    fill: #666;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s ease;
  }

  &:hover svg {
    fill: #333;
  }

  select:focus + svg {
    transform: translateY(-50%) rotate(180deg);
    fill: #979b4d;
  }
}

.search-box {
  input {
    width: 100%;
    padding: 12px 30px;
    border: 2px solid transparent;
    border-radius: 50px;
    outline: none;
    transition: all 0.3s ease;

    &:focus {
      border-color: #979b4d;
    }
  }
}
